@include media-md {


    .text-secondary {
        font-size: 3rem;
    }

    .about_bio-image {
        font-size: 1.5rem;
        height: 60vh;
    }

    .skills {
       grid-template-columns: repeat(3, 1fr) !important; 
    }

    .jobs {
        grid-template-columns: repeat(2, 1fr) !important; 
     }

     .cards {
        grid-template-columns: repeat(2, 1fr) !important; 
     }
}