.workhistory {
    padding-bottom: 2rem;
    height: 100vh;
    //background-color: cadetblue;
    overflow: scroll;
    @include transition-ease;

    &_bio-image {
        height: 30vh;
        width: 100%;
        background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
        ),
        url(../img/work.jpg) right top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    
        p {
            margin-bottom: 2rem;
        }
    }

    &__bio {
        width: 80%;
        text-align: center;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }
    
    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        @include transition-ease;
        
        &__job {
            background: lighten($primary-color, 20%);
            padding: 1rem;
            border-bottom: 5px solid $secondary-color;
            border-radius: 5%;
            height: 30vh;
            overflow: hidden;
            @include transition-ease;

            &:hover {
                height: 100%;
                //overflow: hidden;
            }


            h2, h3 {
                margin: 0.5rem 0;
            }

            h6 {
                margin: 0.3rem 0;
                border-bottom: 2px solid $secondary-color;
                line-height: 1.5rem;
                
            }

            p {
                line-height: 1.5rem;
                text-align: center;
                font-size: 0.8rem;
                margin-top: 1rem;
            }
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
        
        a {
            color: $secondary-color !important;
        }
    }
    
    footer {
        transform: 
        rotate(90deg)
        translate(-3rem, -5rem);
        color: $secondary-color !important;
    }
}

